body {
    margin: 0;
    padding: 0;
    background-color: #031626;
    font-family: 'lino-stamp';
    /* Color de fondo claro */
    /* O cualquier otro color que prefieras, usando nombres de color, RGB, o HEX */
}